@tailwind base;
@tailwind components;
@tailwind utilities;

.delayed-enter.transition-exit,
.delayed-enter.transition-exit-active,
.delayed-enter.transition-exit-done {
  opacity: 0;
  transition: none;
}


.transition-exit,
.transition-exit-active,
.transition-appear,
.transition-enter,
.transition-appear-active,
.transition-enter-active,
.transition-appear-done,
.transition-enter-done {
  display: inline-block !important;
}

.delayed-enter.transition-appear,
.delayed-enter.transition-appear-active,
.delayed-enter.transition-enter-active,
.delayed-enter.transition-enter,
.fade.transition-appear,
.fade.transition-enter {
  opacity: 0;
}

.delayed-enter.transition-enter-done,
.delayed-enter.transition-appear-done,
.fade.transition-appear-active,
.fade.transition-enter-active {
  opacity: 1;
  transition: transform 1000ms, opacity 1000ms;
}


.fade.transition-exit {
  opacity: 1;
}

.fade.transition-exit-done {
  display: none;
}

.fade.transition-exit-active {
  opacity: 0;
  transition: transform 1000ms, opacity 1000ms;
}


.ease-up.transition-appear,
.ease-up.transition-enter {
  transform: translateY(-1.5rem);
}

.ease-up.transition-appear-active,
.ease-up.transition-enter-active {
  transform: translateY(0);
  transition: transform 1000ms, opacity 1000ms;
}

.ease-up.transition-exit {
  transform: translateY(0);
}

.ease-up.transition-exit-done {
  display: none;
}

.ease-up.transition-exit-active {
  transform: translateY(-1.5rem);
  transition: transform 1000ms, opacity 1000ms;
}


.delayed-enter.transition-appear,
.delayed-enter.transition-appear-active,
.delayed-enter.transition-enter-active,
.delayed-enter.transition-enter,
.ease-down.transition-appear,
.ease-down.transition-enter {
  transform: translateY(1.5rem);
}

.ease-down.transition-appear-active,
.ease-down.transition-enter-active {
  transform: translateY(0);
  transition: transform 1000ms, opacity 1000ms;
}

.delayed-enter.transition-enter-done,
.delayed-enter.transition-appear-done,
.ease-down.transition-exit {
  transform: translateY(0);
}

.ease-down.transition-exit-done {
  display: none;
}

.ease-down.transition-exit-active {
  transform: translateY(1.5rem);
  transition: transform 1000ms, opacity 1000ms;
}



.ease-left.transition-appear,
.ease-left.transition-enter {
  transform: translateX(-1.5rem);
}

.ease-left.transition-appear-active,
.ease-left.transition-enter-active {
  transform: translateX(0);
  transition: transform 1000ms, opacity 1000ms;
}

.ease-left.transition-exit {
  transform: translateX(0);
}

.ease-left.transition-exit-done {
  display: none;
}

.ease-left.transition-exit-active {
  transform: translateX(-1.5rem);
  transition: transform 1000ms, opacity 1000ms;
}




.ease-right.transition-appear,
.ease-right.transition-enter {
  transform: translateX(1.5rem);
}

.ease-right.transition-appear-active,
.ease-right.transition-enter-active {
  transform: translateX(0);
  transition: transform 1000ms, opacity 1000ms;
}

.ease-right.transition-exit {
  transform: translateX(0);
}

.ease-right.transition-exit-done {
  display: none;
}

.ease-right.transition-exit-active {
  transform: translateX(1.5rem);
  transition: transform 1000ms, opacity 1000ms;
}